------------------------------------------------
{{ inventory_hostname }} - BGP config - before
------------------------------------------------

{{ get_bgp_config_b4.stdout.0 }}

{{ get_bgp_config_b4.stdout.1 }}

{{ get_bgp_config_b4.stdout.2 }}

------------------------------------------------

{{ inventory_hostname }} - BGP - after
------------------------------------------------

{{ get_bgp_config_aft.stdout.0 }}

{{ get_bgp_config_aft.stdout.1 }}

{{ get_bgp_config_aft.stdout.2 }}

------------------------------------------------
